@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('SamsungSharpSans-Bold.eot');
    src: url('SamsungSharpSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('SamsungSharpSans-Bold.woff2') format('woff2'),
        url('SamsungSharpSans-Bold.woff') format('woff'),
        url('SamsungSharpSans-Bold.ttf') format('truetype'),
        url('SamsungSharpSans-Bold.svg#SamsungSharpSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

